################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab1Pt1_redo/v15
/Lab1Pt1_redo/bin/Debug
/Lab1Pt1_redo/obj/Debug
